<footer class="navber-default">
  <div class="container">
    <div class="row bottom-rule">

      <div class="col-sm-4 footer-section">
        <strong>Connect with Farm Mont</strong>
        <p>Email Promotions, news, information</p>
        <form class="form-inline">
          <div class="form-group">
            <label for="inputEmail" class="sr-only">Email</label>
            <input type="text" class="form-control" placeholder="address@example.com">
            <button type="submit" class="btn btn-default">Subscribe</button>
          </div>
        </form>
      </div><!--end of footer-section col-sm-4-->

      <div class="col-sm-5 footer-section">
        <ul class="list-inline">
          <li class="text-uppercase">Customer Service:</li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Our Guarantee</a></li>
          <li><a href="#">Customer Care</a></li>
        </ul>
        <ul class="list-inline">
          <li class="text-uppercase">Social Media &amp; Articles:</li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Pinterest</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Facebook</a></li>
        </ul>        
      </div><!--end of footer-section col-sm-5-->

      <div class="col-sm-3">
        <address>
          <strong>Farm Mont Real Estate Ventures</strong>
          <br>RUAI, Nairobi<br>P.O Box  94103<br>(+254) 756-789000 (phone &amp; text)<br>
          <a href="#">Contact Us</a>
       </address>
      </div><!--end of contact col-sm-3-->

    </div><!-- end row bottom-rule-->
  </div><!-- end container-->
</footer>


<div class="row leg-room">
  <div class="col-md-12 text-center">
    <h4 class="text-uppercase">Farm Mont Real Estate Ventures</h4>
    <p class="monospaced">&copy;2016 Farm Mont Real Estate Ventures Inc. 
    <span class="text-uppercase">All Rights Reserved</span></p>
  </div>
</div><!-- end row -->


