.navbar {
  height: 80px;
  background-color: rgba(92, 184, 92, 0.5);
  border: none;
  color: white;
  z-index: 100;
  -webkit-transition: background-color 1s ease 0s;
  transition: background-color 1s ease 0s;
}

.navbar-default .navbar-brand {
  margin-top: 10px;
  color: white;
}
.navbar-default .navbar-brand:hover {
  color: #006400;
  border: 1px solid #006400;
}
.navbar-default .navbar-nav > li > a {
  color: white;
  margin: 10px 5px 5px 5px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:focus {
  color: #006400;
  border: 1px solid #006400;
}
.navbar-default .navbar-nav > li > a:visited {
  color: white;
  text-decoration: none;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: white;
}
.navbar-default .navbar-toggle {
  border-color: #006400;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #5cb85c;
}
.navbar-default .navbar-toggle .icon-bar {
  color: #006400;
  background-color: #006400;
}
.navbar-default .navbar-collapse.collapse.in ul {
  background-color: #5cb85c;
}

/* Solid class attached on scroll past first section */
.navbar.solid {
  background-color: #5cb85c;
  -webkit-transition: background-color 1s ease 0s;
  transition: background-color 1s ease 0s;
  box-shadow: 0 0 4px grey;
}
.navbar.solid .navbar-brand {
  color: #006400;
  -webkit-transition: color 1s ease 0s;
  transition: color 1s ease 0s;
}
.navbar.solid .navbar-nav > li > a {
  color: #006400;
  -webkit-transition: color 1s ease 0s;
  transition: color 1s ease 0s;
}

.about {
  background-color: #006400;
  color: #5cb85c;
  height: 600px;
  text-align: center;
  margin-top: -20px;
}