
<div class="list-group">
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Learn More about the offer <span class="label label-danger">HOT</span> </h4>
    <p class="list-group-item-text">Buy and get a chance to win a plot offer provides you with a chance of owning more plots of prime land around Nairobi.</p>
  </a>
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Why Choose Us?</h4>
    <p class="list-group-item-text">Learn more about why we are the most reliable real estate company in Nairobi and its environs.</p>
  </a>
</div>
  
  <h2 class="text-primary"> News Board</h2>
  <ul class="list-group">
  <li class="list-group-item">
    <span class="badge">14</span>
    Cras justo odio
  </li>
  <li class="list-group-item">
    <span class="badge">2</span>
    Dapibus ac facilisis in
  </li>
  <li class="list-group-item">
    <span class="badge">1</span>
    Morbi leo risus
  </li>
    <li class="list-group-item">
    <span class="badge">2</span>
    Dapibus ac facilisis in
  </li>
  <li class="list-group-item">
    <span class="badge">1</span>
    Morbi leo risus
  </li>
    <li class="list-group-item">
    <span class="badge">2</span>
    Dapibus ac facilisis in
  </li>
  <li class="list-group-item">
    <span class="badge">1</span>
    Morbi leo risus
  </li>
</ul>

