.content {
  padding-top: 10px;
}

.list-group-image {
  width: 720px;
  height: 500px;
}

.thumbnail {
  margin-bottom: 20px;
  padding: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.right{
  float: right;
}

